@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using System.Collections
@using System.Collections.Generic
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@inherits RazorPage
@{
    Layout = new LayoutPage(Queue.ToUpperInvariant());

    int from, perPage;

    int.TryParse(Query("from"), out from);
    int.TryParse(Query("count"), out perPage);
    string filterString = Query("filterString");
    string startDate = Query("startDate");
    string endDate = Query("endDate");

    var monitor = Storage.GetMonitoringApi();
    var pager = new Pager(from, perPage, monitor.EnqueuedCount(Queue, filterString, startDate, endDate), filterString, startDate, endDate);
    var enqueuedJobs = monitor.EnqueuedJobs(Queue, pager);
}

<div class="row">
    <div class="col-md-3">
        @Html.JobsSidebar()
    </div>
    <div class="col-md-9">
        @Html.Breadcrumbs(Queue.ToUpperInvariant(), new Dictionary<string, string>
        {
            { "Queues", Url.LinkToQueues() }
        })

        <h1 class="page-header">@Queue.ToUpperInvariant() <small>Enqueued jobs</small></h1>

        @if (pager.TotalPageCount == 0)
        {
            <div class="alert alert-info">
                The queue is empty.
            </div>
        }
        else
        {
            <div class="js-jobs-list">
                <div class="btn-toolbar btn-toolbar-top">
                    <button class="js-jobs-list-command btn btn-sm btn-default"
                            data-url="@Url.To("/jobs/enqueued/delete")"
                            data-loading-text="Deleting..."
                            data-confirm="Do you really want to DELETE ALL selected jobs?"
                            disabled="disabled">
                        <span class="glyphicon glyphicon-remove"></span>
                        Delete selected
                    </button>
                    <br>
                    <br>
                    <button class="js-jobs-filter-command btn btn-sm btn-default"
                            data-url="@Url.To("/jobs/enqueued")">
                        <span class="glyphicon glyphicon-repeat"></span>
                        Filter jobs
                    </button>
                    <input type="text" value="" id="filterValueString" class="js-jobs-filtertext-clear fltr-txtbx btn-sm" />
                    <input id="filterOnDate" type="checkbox" class="js-jobs-filterOnDate-checked">Filter on date</input>
                    @{
                        var todaysDate = System.DateTime.Now.ToShortDateString();
                    }
                    <br>
                    <br>
                    <input value="@todaysDate" style="width: 100px; margin:0px 0px 0px 110px;" readonly="" class="dateselector-start" id="startDate" hidden="hidden" />
                    <input value="@todaysDate" style="width: 100px;" readonly="" class="dateselector-end" id="endDate" hidden="hidden" />
                    @Html.PerPageSelector(pager)
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th class="min-width">
                            <input type="checkbox" class="js-jobs-list-select-all"/>
                        </th>
                        <th class="min-width">Id</th>
                        <th class="min-width">State</th>
                        <th>Job</th>
                        <th class="align-right">Enqueued</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var job in enqueuedJobs)
                    {
                        <tr class="js-jobs-list-row hover @(!job.Value.InEnqueuedState ? "obsolete-data" : null)">
                            <td>
                                <input type="checkbox" class="js-jobs-list-checkbox" name="jobs[]" value="@job.Key"/>
                            </td>
                            <td class="min-width">
                                @Html.JobIdLink(job.Key)
                                @if (!job.Value.InEnqueuedState)
                                {
                                    <span title="Job's state has been changed while fetching data." class="glyphicon glyphicon-question-sign"></span>
                                }
                            </td>
                            <td class="min-width">
                                @Html.StateLabel(job.Value.State)
                            </td>
                            <td>
                                @Html.JobNameLink(job.Key, job.Value.Job)
                            </td>
                            <td class="align-right">
                                @if (job.Value.EnqueuedAt.HasValue)
                                {
                                    @Html.RelativeTime(job.Value.EnqueuedAt.Value)
                                }
                                else
                                {
                                    <em>n/a</em>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>

                @Html.Paginator(pager)
            </div>
        }
    </div>
</div>