@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@using Hangfire.States;
@inherits RazorPage
@{
    Layout = new LayoutPage("Scheduled Jobs");

    int from, perPage;

    int.TryParse(Query("from"), out from);
    int.TryParse(Query("count"), out perPage);
    string filterString = Query("filterString");
    string startDate = Query("startDate");
    string endDate = Query("endDate");
    string startTime = Query("startTime");
    string endTime = Query("endTime");

    var monitor = Storage.GetMonitoringApi();
    var countParameters = new Dictionary<string, string>()
    {
        { "stateName", FailedState.StateName },
        { "filterString", filterString },
        { "startDate", startDate },
        { "endDate", endDate },
        { "startTime", startTime },
        { "endTime", endTime }
    };

    var jobCount = monitor.JobCountByStateName(countParameters);
    var pager = new Pager(from, perPage, jobCount)
    {
        JobsFilterText = filterString,
        JobsFilterStartDate = startDate,
        JobsFilterEndDate = endDate,
        JobsFilterStartTime = startTime,
        JobsFilterEndTime = endTime
    };

    var scheduledJobs = monitor.ScheduledJobs(pager);
}

<div class="row">
    <div class="col-md-3">
        @Html.JobsSidebar()
    </div>
    <div class="col-md-9">
        <h1 class="page-header">Scheduled Jobs</h1>

        @if (pager.TotalPageCount == 0)
        {
            <div class="alert alert-info">
                There are no scheduled jobs.
            </div>
        }
        else
        {
            <div class="js-jobs-list">
                <div class="btn-toolbar btn-toolbar-top">
                    <button class="js-jobs-list-command btn btn-sm btn-primary"
                            data-url="@Url.To("/jobs/scheduled/enqueue")"
                            data-loading-text="Enqueueing..."
                            disabled="disabled">
                        <span class="glyphicon glyphicon-play"></span>
                        Enqueue now
                    </button>

                    <button class="js-jobs-list-command btn btn-sm btn-default"
                            data-url="@Url.To("/jobs/scheduled/delete")"
                            data-loading-text="Deleting..."
                            data-confirm="Do you really want to DELETE ALL selected jobs?"
                            disabled="disabled">
                        <span class="glyphicon glyphicon-remove"></span>
                        Delete selected
                    </button>
                    <br>
                    <br>
                    <button class="js-jobs-filter-command btn btn-sm btn-default"
                            data-url="@Url.To("/jobs/failed")">
                        <span class="glyphicon glyphicon-repeat"></span>
                        Filter jobs
                    </button>
                    <input type="text" value="" id="filterValueString" class="js-jobs-filtertext-clear fltr-txtbx btn-sm" />
                    <input id="filterOnDateTime" type="checkbox" class="js-jobs-filterOnDateTime-checked">Filter on date and time</input>
                    @{
                        var currentDateTime = DateTime.Now.ToString("dd/MM/yyyy HH:mm");
                    }
                    <br />
                    <br />
                    <input type="text" value="@currentDateTime" style="width: 130px; margin:0px 0px 0px 80px;" class="datetimeselector-start" id="startDateTime" hidden="hidden" />
                    <input type="text" value="@currentDateTime" style="width: 130px;" class="datetimeselector-end" id="endDateTime" hidden="hidden" />
                    @Html.PerPageSelector(pager)
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th class="min-width">
                            <input type="checkbox" class="js-jobs-list-select-all"/>
                        </th>
                        <th class="min-width">Id</th>
                        <th>Enqueue</th>
                        <th>Job</th>
                        <th class="align-right">Scheduled</th>
                    </tr>
                    </thead>
                    @foreach (var job in scheduledJobs)
                    {
                        <tr class="js-jobs-list-row @(!job.Value.InScheduledState ? "obsolete-data" : null) @(job.Value.InScheduledState ? "hover" : null)">
                            <td>
                                @if (job.Value.InScheduledState)
                                {
                                    <input type="checkbox" class="js-jobs-list-checkbox" name="jobs[]" value="@job.Key"/>
                                }
                            </td>
                            <td class="min-width">
                                @Html.JobIdLink(job.Key)
                                @if (!job.Value.InScheduledState)
                                {
                                    <span title="Job's state has been changed while fetching data." class="glyphicon glyphicon-question-sign"></span>
                                }
                            </td>
                            <td class="min-width">
                                @Html.RelativeTime(job.Value.EnqueueAt)
                            </td>
                            <td>
                                @Html.JobNameLink(job.Key, job.Value.Job)
                            </td>
                            <td class="align-right">
                                @if (job.Value.ScheduledAt.HasValue)
                                {
                                    @Html.RelativeTime(job.Value.ScheduledAt.Value)
                                }
                            </td>
                        </tr>
                    }
                </table>

                @Html.Paginator(pager)
            </div>
        }
    </div>
</div>