@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using System
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@using Hangfire.States
@inherits RazorPage
@{
    Layout = new LayoutPage("Succeeded Jobs");

    int from, perPage;

    int.TryParse(Query("from"), out from);
    int.TryParse(Query("count"), out perPage);
    string filterString = Query("filterString");
    string filterMethodString = Query("filterMethodString");
    string startDate = Query("startDate");
    string endDate = Query("endDate");
    string startTime = Query("startTime");
    string endTime = Query("endTime");

    var monitor = Storage.GetMonitoringApi();
    var countParameters = new Dictionary<string, string>()
    {
        { "stateName", SucceededState.StateName },
        { "filterString", filterString },
        { "filterMethodString", filterMethodString },
        { "startDate", startDate },
        { "endDate", endDate },
        { "startTime", startTime },
        { "endTime", endTime }
    };

    var jobCount = monitor.JobCountByStateName(countParameters);
    var pager = new Pager(from, perPage, jobCount)
    {
        JobsFilterText = filterString,
        JobsFilterMethodText = filterMethodString,
        JobsFilterStartDate = startDate,
        JobsFilterEndDate = endDate,
        JobsFilterStartTime = startTime,
        JobsFilterEndTime = endTime
    };

    var succeededJobs = monitor.SucceededJobs(pager);
}

<div class="row">
    <div class="col-md-3">
        @Html.JobsSidebar()
    </div>
    <div class="col-md-9">
        <h1 class="page-header">Succeeded Jobs</h1>

        @if (pager.TotalPageCount == 0)
        {
            <div class="alert alert-info">
                No succeeded jobs found.
            </div>
        }
        else
        {
            <div class="js-jobs-list">
                <div class="btn-toolbar btn-toolbar-top">
                    <button class="js-jobs-list-command btn btn-sm btn-primary"
                            data-url="@Url.To("/jobs/succeeded/requeue")"
                            data-loading-text="Enqueueing..."
                            disabled="disabled">
                        <span class="glyphicon glyphicon-repeat"></span>
                        Requeue jobs
                    </button>
                    <br>
                    <br>
                    <button class="js-jobs-filter-command btn btn-sm btn-default"
                            data-url="@Url.To("/jobs/succeeded")">
                        <span class="glyphicon glyphicon-repeat"></span>
                        Filter jobs
                    </button>
                    <input type="text" value="" id="filterValueString" class="fltr-txtbx btn-sm" />
                    <div style="width:200px;margin-right:10px;">
                        <input id="filterOnDateTime" type="checkbox" class="js-jobs-filterOnDateTime-checked">@Html.Raw("Filter on date and time")</input>
                        <br />
                        <input id="filterOnMethodName" type="checkbox" class="js-jobs-filterOnMethodName-checked">@Html.Raw("Filter on method name")</input>
                    </div>
                    @{
                        var todaysDate = System.DateTime.Now.ToShortDateString();
                    }
                    <br />
                    <br />
                    <label id="methodValueLabel" hidden="hidden">Method name</label>
                    <input type="text" value="" id="filterMethodString" class="fltr-txtbx btn-sm" style="padding-bottom:inherit" hidden="hidden" />
                    <br />
                    <input value="@todaysDate" style="width: 100px; margin:0px 0px 0px 110px;" readonly="" class="dateselector-start" id="startDate" hidden="hidden" />
                    <input value="@todaysDate" style="width: 100px;" readonly="" class="dateselector-end" id="endDate" hidden="hidden" />
                    @Html.PerPageSelector(pager)
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th class="min-width">
                            <input type="checkbox" class="js-jobs-list-select-all"/>
                        </th>
                        <th class="min-width">Id</th>
                        <th>Job</th>
                        <th class="min-width">Total Duration</th>
                        <th class="align-right">Succeeded</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var job in succeededJobs)
                    {
                        <tr class="js-jobs-list-row @(job.Value != null && !job.Value.InSucceededState ? "obsolete-data" : null) @(job.Value != null && job.Value.InSucceededState ? "hover" : null)">
                            <td>
                                @if (job.Value != null && job.Value.InSucceededState)
                                {
                                    <input type="checkbox" class="js-jobs-list-checkbox" name="jobs[]" value="@job.Key"/>
                                }
                            </td>
                            <td class="min-width">
                                @Html.JobIdLink(job.Key)
                                @if (job.Value != null && !job.Value.InSucceededState)
                                {
                                    <span title="Job's state has been changed while fetching data." class="glyphicon glyphicon-question-sign"></span>
                                }
                            </td>

                            @if (job.Value == null)
                            {
                                <td colspan="3">
                                    <em>Job has expired.</em>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.JobNameLink(job.Key, job.Value.Job)
                                </td>
                                <td class="min-width align-right">
                                    @if (job.Value.TotalDuration.HasValue)
                                    {
                                        @Html.ToHumanDuration(TimeSpan.FromMilliseconds(job.Value.TotalDuration.Value), false)
                                    }
                                </td>
                                <td class="min-width align-right">
                                    @if (job.Value.SucceededAt.HasValue)
                                    {
                                        @Html.Raw(job.Value.SucceededAt.Value.ToString("dd/MM/yyyy HH:mm"));
                                    }
                                </td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>

                @Html.Paginator(pager)
            </div>
        }
    </div>
</div>